body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6e6; 
}
#customForm
{
    display: flex;
    flex-direction: column;
}

header
{
    width: 100%;
    height: 90px;
    background-color: rgb(190, 83, 101);
    box-shadow: 0px 0px 12px rgb(160, 82, 82);   
    
}
header button
{
    border-radius: 7px;
    color:white;
    width: 140px;
    padding: 7px;
    margin-top: 25px;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 0px 5px whitesmoke;
    font-family: 'Dancing Script' , cursive;
    transition: 0.4s;
    
}
header button:hover
{
    box-shadow: 0px 0px 15px rgb(112, 110, 110);
}

header img
{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    float: left;
    margin-top: 5px;
    margin-left: 7px;

}
a
{
    color: white;
    text-decoration: none;
}





main {
    padding: 25px;
}

section {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



#productName , #contactInfo
{
    width: 25%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
}
textarea {
    width: 25%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    

}

#sub {
    width: 20%;
    background-color: rgb(190, 83, 101); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(146, 89, 99); 
}
input[type="radio"]
{
    margin-left: -900px;
    margin-top: -15px;
}
input[type="checkbox"]
{
    margin-left: -900px;
    margin-top: -15px;
}

#productPrice , #quantity
{
    width: 25%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    
}
.red
{
    color: red;
    font-size: 0.8rem;
    display: block;
    margin-top: 4px;
}
#paymentMethodError
{
    color: red;
    font-size: 0.8rem;
    display: block;
    margin-top: 4px;
}
#productPriceError , #quantityError
{
    color: red;
    font-size: 0.8rem;
    display: block;
    margin-top: 4px;

}